# Dependencias
node_modules/
dist/
build/

# Entorno y Secretos (¡Súper Importante!)
.env
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*


# Ignorar fuentes de diagramas (solo subir imágenes)
# *.plantuml
# *.puml
# *.mermaid
# *.dbml